body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.navbar {
  background: #fff;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.content {
  text-align: center;
}
.logo {
  color: red;
  font-size: 32px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}
a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step {
  text-align: center;
}
.plan {
  text-align: center;
  margin-bottom: 16px;
  font-size: 23px;
}
.content li {
  text-align: left;
  margin: 15px 0px 20px;
}
.button {
  background: red;
  color: white;
  width: 310px;
  border: unset;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-top: 40px;
}
